 

 <div style="text-align: center;">
   <h1>Cycling Zones</h1>
  <form class="parent">
    <div id="inputForm">
        <mat-form-field>
            <input matInput placeholder="Average Power" [(ngModel)]="averagePower" 
                  type="number" pattern="[0-9]*" name="averagePower" (input)="AveragePowerChange()" />
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Average Heart Rate" [(ngModel)]="averageHeartRate"
              type="number" pattern="[0-9]*" name="averageHeartRate" (input)="HeartRateChange()" />
        </mat-form-field>
    
    </div>
  </form>
</div>

  <div>

    <div class="container">
      <div style="font-weight: bold;">Functional Threashold Power</div>
      <div class="data">{{ cyclingZones.functionalThreashold }}</div>
    </div>
    <div class="container">
        <div style="font-weight: bold;">Lactate Threshold Heart Rate</div>
        <div class="data">{{ cyclingZones.lacateThreashold }}</div>
    </div>

  <table>
    <thead> 
      <tr>
        <th>Zone</th>
        <th>Power</th>
        <th class="percentage">% FTP</th>
        <th>Heart Rate</th>
        <th class="percentage">% of LTHR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let z of cyclingZones.zones' class="mainZones">
        <td class="label">{{z.name}}</td>
        <td class="data">{{z.power.min}} - {{z.power.max}}</td>
        <td class="data percentage"> {{z.power.percentMin | percent }} - {{ z.power.percentMax | percent }}</td>
        <td class="data">{{z.heartRate.min}} - {{z.heartRate.max}}</td>
        <td class="data percentage">{{z.heartRate.percentMin | percent }} - {{ z.heartRate.percentMax | percent }}</td>
      </tr>

      <tr *ngFor="let z of cyclingZones.extraPowerZones" class="extraZones">
        <td class="label">{{z.name}}</td>
        <td class="data">{{z.power.min}} - {{z.power.max}}</td>
        <td class="data percentage">{{z.power.percentMin | percent}} - {{ z.power.percentMax | percent }} </td>
        <td class="data">&nbsp;</td>
        <td class="data percentage">&nbsp;</td>
      </tr>

    </tbody>
  </table>
</div>
